@import '../../../assets/styles/app.scss';

.check-in__btn {
	width: 200px;
	height: 50px;
}

.dashboard {
	width: 100%;
	max-width: 900px;
	@include margin(0 auto);
	background-color: $white;
	@include padding(25px);
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

	.status {
		border: 1px solid $primary;
		@include padding(2px 4px);
		border-radius: 12px;
	}
}

@media only screen and (max-width: 768px) {
	.dashboard {
		width: unset;
		max-width: unset;
		@include margin(unset);
		.check-out__content {
			@include marginTop(20px);
		}
		.check-wrapper {
			flex-direction: column;
		}
	}
}
