@import '../../../assets/styles/app.scss';

.check-in__form {
	width: 100%;
	max-width: 900px;
	@include margin(0 auto);
	background-color: $white;
	@include padding(25px);
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

	.input-field {
		background-color: transparent;
		border: 1px solid $black;
	}

	.input-select {
		width: 210px;
		height: 44px;
		border: 1px solid $black;
	}

	.time-input {
		width: 100px;
		height: 40px;
	}

	.task-input {
		width: 400px;
		height: 44px;
		@include padding(0 4px);
	}
}
.submit-btn {
	width: 200px;
	height: 50px;
	background-color: $primary;
}

.react-time-picker__clock {
	display: none;
}

@media only screen and (max-width: 768px) {
	.check-in__form {
		max-width: 715px;
		@include padding(12px);
	}
}

@media only screen and (max-width: 767px) {
	.check-in__form {
		.fields {
			flex-direction: column;
			@include marginBottom(40px);
			.input-select {
				@include marginBottom(12px);
			}
			.login-btn {
				@include marginTop(12px);
			}
		}
	}
}

@media only screen and (max-width: 425px) {
	.check-in__form {
		width: unset;
		.task-input {
			width: 350px;
			@include marginBottom(30px);
		}
		.task-name {
			text-align: center;
			@include margin(8px);
		}
		.user-task {
			flex-direction: column;
		}
		.extra-task {
			flex-direction: column;
			@include marginBottom(30px);
		}
		.input-select,
		.task-input {
			@include marginBottom(12px);
		}
		.task-status {
			@include padding(12px);
		}
	}
}
